In [11]:
import pandas as pd

In [12]:

def get_knowledge_ids(knowledge_ids):
    """
    拆分知识点
    """
    knowledge_ids = str(knowledge_ids)
    if len(knowledge_ids)>0:
        
        knowledge_ids_list = [int(i) for i in knowledge_ids.split(",") if i is not ""]
     
        knowledge_ids_list.sort()
        knowledge_trees_list = df_knowledge_trees["id"].to_list()
        
        knowledge_ids_list = [i for i in knowledge_trees_list if i in knowledge_ids_list and knowledge_trees_list] #过滤掉不在知识树的ID
        
        if knowledge_ids_list:#过滤empty sequence空列表

            rank_string = df_knowledge_trees[df_knowledge_trees["id"] == max(knowledge_ids_list)]["rank_string"].values[0]
            rank_string_list = [rank_string]
            rank_string = [int(i) for i in rank_string.split(".") if i is not ""]

            diff = list(set(knowledge_ids_list).difference(set(rank_string)))

            while len(diff)>0:

                    rank_string_new = df_knowledge_trees[df_knowledge_trees["id"] == max(diff)]["rank_string"].values[0]
                    rank_string_list.append(rank_string_new)

                    rank_string_new = [int(i) for i in rank_string_new.split(".") if i is not ""]
                    rank_string = list(set(rank_string).union(set(rank_string_new)))
                    diff = list(set(knowledge_ids_list).difference(set(rank_string)))

            return rank_string_list[::-1]
    else:
        return


# knowledge_ids_list = [i for i in knowledge_trees_list if i in knowledge_ids_list and knowledge_trees_list] #过滤掉不在知识树的ID",32772,2,32754,34306,34591,34592"

In [13]:

def get_ids(knowledge_ids):
    """
    拆分知识点,得到叶子节点
    """
    knowledge_ids = str(knowledge_ids)
    if len(knowledge_ids)>0:
        
        knowledge_ids_list = [int(i) for i in knowledge_ids.split(",") if i is not ""]
     
        knowledge_ids_list.sort()
        knowledge_trees_list = df_knowledge_trees["id"].to_list()
        
        knowledge_ids_list = [i for i in knowledge_trees_list if i in knowledge_ids_list and knowledge_trees_list] #过滤掉不在知识树的ID
        
        if knowledge_ids_list:#过滤empty sequence空列表

            rank_string = df_knowledge_trees[df_knowledge_trees["id"] == max(knowledge_ids_list)]["rank_string"].values[0]
            rank_string_list = [rank_string]
            id_list = [max(knowledge_ids_list)]
            rank_string = [int(i) for i in rank_string.split(".") if i is not ""]

            diff = list(set(knowledge_ids_list).difference(set(rank_string)))

            while len(diff)>0:

                    rank_string_new = df_knowledge_trees[df_knowledge_trees["id"] == max(diff)]["rank_string"].values[0]
                    id_list.append(max(diff))
                    rank_string_list.append(rank_string_new)

                    rank_string_new = [int(i) for i in rank_string_new.split(".") if i is not ""]
                    rank_string = list(set(rank_string).union(set(rank_string_new)))
                    diff = list(set(knowledge_ids_list).difference(set(rank_string)))

            id_list.sort()
            return  id_list
    else:
        return


# knowledge_ids_list = [i for i in knowledge_trees_list if i in knowledge_ids_list and knowledge_trees_list] #过滤掉不在知识树的ID",32772,2,32754,34306,34591,34592"

In [14]:
def prepare_data(path1,path2,path3):
    
    "获得预处理数据"
    
    df_knowledge_trees = pd.read_csv(path1)
    df_test_info = pd.read_csv(path2)
    df_test_info_1 = df_test_info[["test_id","knowledge_ids","knowledge_num","empty_knowledge","difficulty","test_type",
                               "subject_id","department_id","grade_ids",]]
    
    df_test_info_new = df_test_info_1[-df_test_info_1["knowledge_ids"].isnull()]
    
    df_test_info_new["knowledge_ids_split"] = df_test_info_new["knowledge_ids"].apply(get_knowledge_ids)
    df_test_info_new["ids_split"] = df_test_info_new["knowledge_ids"].apply(get_ids)
    df_test_info_clear = df_test_info_new[-df_test_info_new["knowledge_ids_split"].isnull()]
    
    df_test_info_clear.to_csv(path3,index=False)
    
    return df_test_info_clear

In [17]:
path1 = "../test_library_info/math_department1_test_knowledge_trees.csv"
path2 = "../test_library_info/test_info.csv"
path3 = "../test_library_info/test_info_clear.csv"
prepare_data(path1,path2,path3)

/Users/mayanli/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (21,32,38,40,44,50,54) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
/Users/mayanli/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/Users/mayanli/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

,test_id,knowledge_ids,knowledge_num,empty_knowledge,difficulty,subject_id,department_id,test_type,knowledge_ids_split,ids_split
0,2000200,",3206,1173,3200,3865,3864,3207,2,3264,3199",2.0,0,0,2,1,3,"[.2.1173.3199.3200.3207.3264., .2.1173.3199.32...","[3264, 3865]"
1,2000201,",1173,3344,2,3407,3339,3418",1.0,0,0,2,1,3,[.2.1173.3339.3344.3407.3418.],[3418]
2,2000202,",3215,3203,7090,7091,2,7104,3306,1173,3339,331...",2.0,0,0,2,1,3,"[.2.1173.3199.3203.3215.3306.3314., .2.1173.33...","[3314, 7104]"
3,2000203,",3519,1173,13448,3505,2,3732",2.0,0,0,2,1,1,"[.2.1173.3505.3519.3732., .2.1173.3505.3519.13...","[3732, 13448]"
4,2000204,",3387,1173,3394,3343,2,3339",1.0,0,0,2,1,1,[.2.1173.3339.3343.3387.3394.],[3394]
...,...,...,...,...,...,...,...,...,...,...
231886,2499189,",1198,1174,1173,1207,2",1.0,0,0,2,1,1,[.2.1173.1174.1198.1207.],[1207]
231887,2499190,",1198,1210,1174,1173,1239,1229,2",1.0,0,0,2,1,1,[.2.1173.1174.1198.1210.1229.1239.],[1239]
231888,2499397,",33558,13797,13796,33557,33684,33687,2,32754,1...",4.0,0,0,2,1,1,"[.2.13796.13797.13808.13827.16230., .2.32754.3...","[16230, 33563, 33684, 33687]"
231889,2499514,",13797,13796,33557,32758,2,32754,13808,16231,1...",2.0,0,0,2,1,1,"[.2.13796.13797.13808.13827.16231., .2.32754.3...","[16231, 33572]"
231890,2499784,",13797,13796,33557,32758,2,32754,13808,16231,1...",2.0,0,0,2,1,1,"[.2.13796.13797.13808.13827.16231., .2.32754.3...","[16231, 33572]"

# 读取数据

In [18]:
path3 = "../test_library_info/test_info_clear.csv"
def get_data(path3):
    df = pd.read_csv(path3)
    return df

In [19]:
df = get_data(path3)

In [20]:
df.shape

(202508, 10)

In [21]:
df.head()

,test_id,knowledge_ids,knowledge_num,empty_knowledge,difficulty,subject_id,department_id,test_type,knowledge_ids_split,ids_split
0,2000200,",3206,1173,3200,3865,3864,3207,2,3264,3199",2.0,0,0,2,1,3,"['.2.1173.3199.3200.3207.3264.', '.2.1173.3199...","[3264, 3865]"
1,2000201,",1173,3344,2,3407,3339,3418",1.0,0,0,2,1,3,['.2.1173.3339.3344.3407.3418.'],[3418]
2,2000202,",3215,3203,7090,7091,2,7104,3306,1173,3339,331...",2.0,0,0,2,1,3,"['.2.1173.3199.3203.3215.3306.3314.', '.2.1173...","[3314, 7104]"
3,2000203,",3519,1173,13448,3505,2,3732",2.0,0,0,2,1,1,"['.2.1173.3505.3519.3732.', '.2.1173.3505.3519...","[3732, 13448]"
4,2000204,",3387,1173,3394,3343,2,3339",1.0,0,0,2,1,1,['.2.1173.3339.3343.3387.3394.'],[3394]

In [ ]:
# .2.13796.13797.四年级上
# .2.13796.13797.13803.大数的认识

In [ ]:

.2.13796.13797.13803.     0            
.2.13796.13797.13803.13811.    
.2.13796.13797.13803.13812.    
.2.13796.13797.13803.13813.    
.2.13796.13797.13803.13814.    
.2.13796.13797.13803.13815.    
.2.13796.13797.13803.13816.    
.2.13796.13797.13803.13817.    
.2.13796.13797.13803.13818.    
.2.13796.13797.13803.16213.    
.2.13796.13797.13803.16214.    
.2.13796.13797.13803.16215.    
.2.13796.13797.13803.16216.    
.2.13796.13797.13803.17694.    
.2.13796.13797.13803.34838.

In [100]:
def id_transform_rank_string(df_knowledge_trees,input_id):
    """
    使用人教版的id输入引出别的版本或者分支上的同名字的rank_string
    #考虑是否引用自然语言处理，同含义处理
    input_id, type :int
    """
    name = df_knowledge_trees[df_knowledge_trees["id"]==input_id]["name"].values[0]
    df_rank = df_knowledge_trees[df_knowledge_trees["name"]==name]
    print(df_rank)
    rank_string_list = df_rank["rank_string"].to_list()
    return rank_string_list

In [4]:
path1 = "../test_library_info/math_department1_test_knowledge_trees.csv"
df_knowledge_trees = pd.read_csv(path1)

In [103]:
input_id=13803
id_transform_rank_string(df_knowledge_trees,input_id)
# 4-13803   5-13811
# .2.13796.13797.四年级上
# .2.13796.13797.13803.大数的认识

         id   name alias_name  description  department  subject_id  \
1977  13803  大数的认识    1、大数的认识          NaN           1           2
3004  32801  大数的认识        NaN          NaN           1           2
3145  32966  大数的认识        NaN          NaN           1           2
4362  34838  大数的认识        NaN          NaN           1           2

     subject_name  parent_id  rank                  rank_string
1977           数学      13797     4        .2.13796.13797.13803.
3004           数学      32755     4        .2.32754.32755.32801.
3145           数学      32868     4        .2.32753.32868.32966.
4362           数学      13803     5  .2.13796.13797.13803.34838.

['.2.13796.13797.13803.',
 '.2.32754.32755.32801.',
 '.2.32753.32868.32966.',
 '.2.13796.13797.13803.34838.']

In [22]:
subject_id = 2 #学科
department_id = 1
df_choice = df[(df["subject_id"]==subject_id)&(df["department_id"]==department_id)]

In [24]:
df_choice.shape

(202508, 10)